{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
{# Load the tag library #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<style>
  .container {
    width: 70%;
    margin: 15px auto;
  }
  body {
    text-align: center;
    color: green;
    background-image:url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000')
  }
  h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
  }
</style>
</head>

<nav class="navbar navbar-light bg-light"  style="background-image: url(https://images.unsplash.com/photo-1533912352517-92dd08116ea4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1078&q=80)">
    <div class="form-inline">
        <a class="navbar-brand" href={% url 'flbert' %}>
            <button class="btn btn-danger"> FlBERT</button>
        </a>
    <a class="navbar-brand" href={% url 'home' %}>
        <button class="btn btn-info"> Home</button>
    </a>
    <a class="navbar-brand" href="https://tensorboard.dev/experiment/KVJ12C4ZRN6jYlEYLoSQDA/#scalars&run=20221106-070855%2Ftrain&_smoothingWeight=0.602">
        <button class="btn btn-danger"> Bert Model Tensorboard0o9</button>
    </a>
</div>
  </nav>

  
  {% block content %}
    
  {% endblock content %}
    