{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container d-flex justify-content-center" style="background-color:white">
    <div class="form-inline">
        <a class="navbar-brand" href={% url 'flbert_iid' %}>
            <button class="btn btn-danger"> FlBERT_IID</button>
        </a>
    <a class="navbar-brand" href={% url 'flbert_non_iid' %}>
        <button class="btn btn-info"> FlBERT_NON_IID</button>
    </a>
    </div>
</div>
<div class="container" >
<div>
    <h1><span class="badge badge-info"> For NON-Independent and Identically Distributed</span></h1>
</div>
{% for i in  graphs%}
    <h2><span class="badge badge-danger"> {{ forloop.counter }}</span> </h2>
    <img  class="img-fluid " style="max-width: 100%; height: auto;" src="{% static i %}" alt="My image" >
    {% endfor %}
</div>
{% endblock content %}